{% extends 'base.html' %}
{% block conteudo %}
<h2 style="text-align: center";>Área do Profissional</h2>
<hr>
<a href="{{url_for('cria_cadastro')}}" class="btn btn-primary">Adicionar Cadastro</a><br><br>
<table class="table table-bordered table hover">
  <thead class="table-success">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nome</th>
      <th scope="col">Contato</th>
      <th scope="col">Descrição do Serviço</th>
      <th scope="col">Data e Hora</th>
      <th scope="col">Valor do Serviço</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    {% for cadastro in agenda %}
      <tr>
        <td>{{cadastro.id}}</td>
        <td>{{cadastro.nome}}</td>
        <td>{{cadastro.contato}}</td>
        <td>{{cadastro.descricao}}</td>
        <td>{{cadastro.data_hora}}</td>
        <td>{{cadastro.valor}}</td>
        <td>
          <a href="{{cadastro.id}}/atualizar_cadastro" onclick="return confirm('Deseja realmente atualizar esse registro?')" class="btn btn-primary btn-xs">Atualizar</a>
          <a href="{{cadastro.id}}/excluir_cadastro" onclick="return confirm('Deseja realmente excluir esse registro?')" class="btn btn-danger btn-xs">Excluir</a>
        </td>
      </tr>
     {% endfor %}
  </tbody>
{% endblock conteudo %}